<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="/SIMOVIA">
        <img src="assets/layout/images/SIMOVIA.png" alt="logo" style="height: 60px;"/>
    </a>

    <button
        #menubutton
        class="p-link layout-menu-button layout-topbar-button"
        (click)="layoutService.onMenuToggle()"
    >
        <i class="pi pi-bars"></i>
    </button>

    <button
        #topbarmenubutton
        class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()"
    >
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div
        #topbarmenu
        class="layout-topbar-menu"
        [ngClass]="{
            'layout-topbar-menu-mobile-active':
                layoutService.state.profileSidebarVisible
        }"
    >
        <button class="p-link layout-topbar-button" (click)="op1.toggle($event)">
            <i class="pi pi-user"></i>
            <span>Perfil</span>
        </button>
        <p-overlayPanel #op1 [showCloseIcon]="true" [style]="{width: '450px'}">
            <h4 class="text-center" style="color: #757d92;"><b>Perfil</b></h4>
            <hr>
            <div class="p-4">
                <p><strong>Usuario:</strong> <span style="color: #757d92"> {{ usuario }}</span></p>
                <p><strong>Colaborador:</strong> <span style="color: #757d92"> {{ colaborador }}</span></p>
                <p><strong>Cargo:</strong> <span style="color: #757d92"> {{ cargo }}</span></p>
                <p><strong>Correo:</strong> <span style="color: #757d92"> {{ correo }}</span></p>
                <p><strong>Teléfono:</strong> <span style="color: #757d92"> +504 {{ telefono }}</span></p>
            </div>
        </p-overlayPanel>
        
        <button
            class="p-link layout-topbar-button"
            type="button"
            (click)="salir($event)"
        >
            <i class="pi pi-sign-out"></i>
            <span>Cerrar Sesion</span>
        </button>
        <p-confirmPopup key="salir"></p-confirmPopup>
    </div>
</div>
