<p-toast></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card px-4 py-4">
            <h1 class="text-center">Colaboradores</h1>
            <hr />
            <div class="grid mt-2 align-items-center">
                <div class="col-6">
                    <button
                        routerLink="colaboradorcrear"
                        pButton
                        icon="pi pi-plus"
                        label="Nuevo"
                        class="mr-2"
                    ></button>
                </div>
                <div class="col-6 text-right">
                    <button
                        pButton
                        pRipple
                        label="Exportar"
                        icon="pi pi-upload"
                        class="p-button-secondary"
                        (click)="dt.exportCSV()"
                    ></button>
                </div>
            </div>
            <p-table
                #dt
                [exportFilename]='exportar'
                [value]="colaboradores"
                [columns]="columnas"
                styleClass="mt-2"
                responsiveLayout="scroll"
                [rows]="10"
                [globalFilterFields]="['codigo', 'cola_DNI', 'colaborador', 'cola_CorreoElectronico', 'cola_Telefono']"
                [paginator]="true"
                [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[10,25,50,100]"
                [rowHover]="true"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="onGlobalFilter(dt, $event)"
                                placeholder="Buscar..."
                            />
                        </span>
                        <div>
                            <p-dropdown [options]="dt.rowsPerPageOptions" [(ngModel)]="dt.rows" [style]="{ 'margin-right': '5px' }"></p-dropdown>

                            <span style="font-weight: 700; margin-top: 7px;"> Registros por página</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-center">Acciones</th>
                        <th pSortableColumn="codigo">
                            No. <p-sortIcon field="codigo"></p-sortIcon>
                        </th>
                        <th class="text-center" pSortableColumn="cola_DNI">
                            DNI
                            <p-sortIcon field="cola_DNI"></p-sortIcon>
                        </th>
                        <th class="text-center" pSortableColumn="colaborador">
                            Colaborador
                            <p-sortIcon field="colaborador"></p-sortIcon>
                        </th>
                        <th class="text-center" pSortableColumn="cola_CorreoElectronico">
                            Correo Electrónico
                            <p-sortIcon field="cola_CorreoElectronico"></p-sortIcon>
                        </th>
                        <th class="text-center" pSortableColumn="cola_Telefono">
                            Teléfono
                            <p-sortIcon field="cola_Telefono"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-colaborador>
                    <tr>
                        <td>
                            <p-splitButton
                                appendTo="body"
                                label="Acciones"
                                icon="pi pi-cog"
                                [model]="acciones"
                                (onDropdownClick)="esColaboradorSeleccionado(colaborador)">
                            </p-splitButton>
                        </td>
                        <td>
                            {{ colaborador.codigo }}
                        </td>
                        <td>
                            {{ colaborador.cola_DNI }}
                        </td>
                        <td>
                            {{ colaborador.colaborador }}
                        </td>
                        <td>
                            {{ colaborador.cola_CorreoElectronico }}
                        </td>
                        <td>
                            {{ colaborador.cola_Telefono }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog
            [(visible)]="eliminarColaborador"
            header="Confirmación"
            [modal]="true"
            [style]="{ width: '450px' }"
        >
            <div class="flex align-items-center justify-content-center">
                <i
                    class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"
                ></i>
                <span *ngIf="esColaboradorSeleccionado">
                    ¿Está seguro de que desea eliminar el colaborador 
                    <!-- <b>{{ colaboradorSeleccionado.colaborador }}</b>? -->
                </span>
            </div>
            <ng-template pTemplate="footer">
                <button
                    pButton pRipple
                    icon="pi pi-trash"
                    label="Eliminar"
                    (click)="confirmarEliminarColaborador()"
                ></button>
                <button
                    pButton pRipple
                    icon="pi pi-times"
                    class="p-button-outlined p-button-primary"
                    label="Cancelar"
                    (click)="eliminarColaborador = false"
                ></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
