<div class="card">
    <h1 class="text-center">Reporte</h1>

    <hr />

    <div
        *ngIf="cargando"
        class="flex justify-content-center align-items-center"
        style="height: 300px"
    >
        <p-progressSpinner></p-progressSpinner>
    </div>

    <div *ngIf="!cargando">
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                        <p-autoComplete
                            inputId="acencargado"
                            [(ngModel)]="seleccionadoTransportista"
                            [suggestions]="filtradoTransportistas"
                            (completeMethod)="filtroTransportista($event)"
                            field="tran_Nombre"
                            placeholder="Seleccione el encargado."
                            [dropdown]="true"
                            [showClear]="true"
                            (onClear)="limpiarTransportista()"
                            (onSelect)="seleccionandoTransportista($event.value)"
                            [ngModelOptions]="{ standalone: true }"
                        ></p-autoComplete>
                <label for="dropdown">Transportista</label>
            </span>
        </div>
        <div class="field col-12 md:col-4">
            <span class="p-float-label">
                <p-calendar
                    inputId="calendar"
                    [(ngModel)]="inicio"
                    (onSelect)="seleccionandoFecha('inicio', $event)"
                ></p-calendar>
                <label for="calendar">Fecha Inicio</label>
            </span>
        </div>
        <div class="field col-12 md:col-4">
            <span class="p-float-label">
                <p-calendar
                    inputId="calendar"
                    [(ngModel)]="fin"
                    (onSelect)="seleccionandoFecha('fin', $event)"
                ></p-calendar>
                <label for="calendar">Fecha Fin</label>
            </span>
        </div>
        <div class="field col-12">
            <iframe title="PDF-file" #pdfViewer style="width:100%;height:800px;"></iframe>
        </div>
        </div>
    </div>

</div>
