<div class="card">
    <div
        style="
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 50px;
        "
    >
        <div style="position: absolute; left: 0">
            <button
                (click)="regresar()"
                class="p-button-link"
                pButton
                pRipple
                type="button"
                label="Regresar"
                icon="pi pi-arrow-left"
                style="box-shadow: none !important"
            ></button>
        </div>

        <div>
            <h1 style="margin: 0">Detalle Viaje</h1>
        </div>
    </div>

    <hr />

    <div
        *ngIf="cargando"
        class="flex justify-content-center align-items-center"
        style="height: 300px"
    >
        <p-progressSpinner></p-progressSpinner>
    </div>

    <div *ngIf="!cargando">
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-4">
                <label><b>Sucursal</b></label>
                <p>{{ viaje?.sucursal }}</p>
            </div>
            <div class="field col-12 md:col-4">
                <label><b>Fecha</b></label>
                <p>{{ viaje?.vien_Fecha | date : "dd/MM/yyyy"}}</p>
            </div>
            <div class="field col-12 md:col-4">
                <label><b>Distancia Recorrida</b></label>
                <p>{{ viaje?.vien_DistanciaTotalkm }} Km</p>
            </div>
            <div class="field col-12 md:col-4">
                <label><b>Encargado</b></label>
                <p>{{ viaje?.transportista }}</p>
            </div>
            <div class="field col-12 md:col-4">
                <label><b>Total</b></label>
                <p>LPS   {{ viaje?.vien_Total | number:'1.2-2' }}</p>
            </div>
        </div>

        <h3>Colaboradores</h3>
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-3" *ngFor="let colaborador of colaboradoresViaje">
                <p>{{ colaborador.colaboradorDNI }}</p>
            </div>
        </div>
        

        <!-- Auditoría -->
         <div class="card">

        <h3><b>Auditoría</b></h3>
        <hr>
        <p-table
            [value]="[viaje]"
            responsiveLayout="scroll"
            styleClass="p-datatable-striped"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>Acción</th>
                    <th>Usuario</th>
                    <th>Fecha</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-viaje>
                <tr>
                    <td>Creado</td>
                    <td>{{ viaje.usuarioCreacion || "" }}</td>
                    <td>
                        {{ viaje.vien_FechaCreacion | date : "dd/MM/yyyy hh:mm:ss a" }}
                    </td>
                </tr>
                <tr>
                    <td>Modificado</td>
                    <td>{{ viaje.usuarioModificacion || "" }}</td>
                    <td>
                        {{
                            viaje.vien_FechaModificacion ? (viaje.vien_FechaModificacion
                                  | date : "dd/MM/yyyy hh:mm:ss a") : ""
                        }}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    </div>
</div>
